.section {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px rgba(85, 85, 85, 0.42) dashed;
}
.section.no-border::after {
  display: none;
}
.section .container {
  display: block;
}

.section-title-wrap h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "BagelFatOne-Regular", sans-serif;
  font-weight: 100;
  font-size: 90px;
  margin-bottom: -7vh;
}
.section-title-wrap h1::after {
  content: "";
  display: block;
  margin: 30px auto;
  width: 1.6em;
  border-bottom: 6px solid #c1efff;
}

.description-wrap {
  display: block;
  margin-bottom: 9vh;
}
.description-wrap span {
  font-size: 13px;
  color: #3d3d3d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}