@import url(/src/styles/global.scss);
.title-wrap {
  position: relative;
  height: 60vh;
  background-color: #c1efff;
  text-align: center;
}
.title-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%;
  background: linear-gradient(to bottom, #c1efff, #ffffff);
}
.title-wrap h1 {
  font-family: "BagelFatOne-Regular", sans-serif;
  font-weight: 100;
  font-size: 110px;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-text-stroke: 1px #000000;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.title-wrap h1 span {
  display: block;
}