@import url(/src/scss/style.scss);

.title-wrap {
  position: relative;
  height: 60vh;
  background-color: #c1efff;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background: linear-gradient(to bottom, #c1efff, #ffffff);
  }

  h1 {
    font-family: 'BagelFatOne-Regular', sans-serif;
    font-weight: 100;
    font-size: 110px;
    color: #ffffff;
    user-select: none;
    -webkit-text-stroke: 1px #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;

    span {
      display: block;
    }
  }
}
