@import url(/src/scss/style.scss);

#main > .title-wrapper {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #c1efff;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background: linear-gradient(to bottom, #c1efff, #ffffff);
  }

  h1 {
    font-family: 'BagelFatOne-Regular', sans-serif;
    font-weight: 100;
    font-size: 110px;
    color: #ffffff;
    user-select: none;
    -webkit-text-stroke: 1px #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;

    span {
      display: block;
    }
  }

  .sub-title {
    user-select: none;
    display: inline-block;
    padding: 2px 5px;
    margin-top: 40px;
    font-size: 12px;
    color: #313131;
    background-color: #ffffff;
  }
}

@media (max-width: 820px) and (min-width: 461px) {
  #main > .title-wrapper {
    h1 {
      font-size: 90px;
    }
  }
}

@media (max-width: 460px) {
  #main > .title-wrapper {
    height: 57vh;

    h1 {
      font-size: 65px;
    }
  }
}
