.section {
  display: grid;
  align-items: center;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px rgba(85, 85, 85, 0.42) dashed;
  }

  &.no-border::after {
    display: none;
  }

  .container {
    align-self: start;
    box-sizing: border-box;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-title-wrap {
  align-self: end;
  width: 100vw;

  h1 {
    user-select: none;
    font-family: 'BagelFatOne-Regular', sans-serif;
    font-weight: 100;
    font-size: 90px;

    &::after {
      content: '';
      display: block;
      margin: 30px auto;
      width: 1.6em;
      border-bottom: 6px solid #c1efff;
    }
  }

  > span {
    font-size: 12px;
    color: #7c7b7b;
    user-select: none;
  }
}

@media (max-width: 820px) and (min-width: 461px) {
  .section-title-wrap {
    h1 {
      font-size: 80px;
    }
  }
}

@media (max-width: 460px) {
  .section-title-wrap {
    h1 {
      font-size: 65px;
    }
  }
}
